%table.table.table-striped
	- shots.each do |s|
		%tr
			%td
				= s.x_pos
				x
				= s.y_pos
			%td
				- if s.class.name == "Goal"  
					%b(style="color: red")= s.class.name
				- else
					= s.class.name