<!DOCTYPE html>
<html>
<head>
  <title>PenaltyKicks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container-fluid'>
	<div class='row-fluid'>
		<div class='span2'></div>
		<div class='span8'>
			<%= yield %>
		</div>
	</div>
</div>
</body>
</html>
